<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

<div class="row g-4">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">Blood Group</label>
        <select name="bloodGroup" [(ngModel)]="bloodGroup" id="" class="form-control">
            <option value="select">-----select-----</option>
            <option value="AB+ve">AB+ve</option>
            <option value="AB-ve">AB-ve</option>
            <option value="A+ve">A+ve</option>
            <option value="B+ve">B+ve</option>
            <option value="A-ve">A-ve</option>
            <option value="B-ve">B-ve</option>
            <option value="O+ve">O+ve</option>
            <option value="O-ve">O-ve</option>
        </select>
        </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <button class="btn btn-danger" (click)="readValues()">Search</button>
        <br><br>
    </div>
   

        </div>
    </div>
</div>
</div>

