<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">


            <h1 style="text-align: center;">Blood Donation Registration Form</h1>


<div class="row g-4">
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
   <label for="" class="form-label">Donar Name</label>
   <input type="text" class="form-control">

</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Blood Group</label>
    <select name="" id="" class="form-control">
        <option value="select">-----select-----</option>
        <option value="AB+ve">AB+ve</option>
        <option value="AB-ve">AB-ve</option>
        <option value="A+ve">A+ve</option>
        <option value="B+ve">B+ve</option>
        <option value="A-ve">A-ve</option>
        <option value="B-ve">B-ve</option>
        <option value="O+ve">O+ve</option>
        <option value="O-ve">O-ve</option>
    </select>
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Date of Birth</label>
<input type="date" name="" id="" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Last Donation date</label>
<input type="date" name="" id="" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Any Previous Diseases</label>
<input type="text" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Last Vaccination Date</label>
<input type="date" name="" id="" class="form-control">    
</div>

<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <label for="" class="form-label">Address</label>
<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Pincode</label>
<input type="text" class="form-control">
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Mobile no</label>
<input type="text" class="form-control">
</div>

<div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    <label for="" class="form-label">Email id</label>
<input type="email" name="" id="" class="form-control">
</div>

<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <button class="btn btn-primary">Submit</button>
    <br><br>
        </div>

</div>
</div>
</div>
</div>
